h2 {
    text-align: center;
}

.checklist-bg {
    width: 100%;
    height: 80%;
    background-color: #0a0a23;
    border-radius: 10px;
    overflow: auto;
}

.checklist {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

.add-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15%;
}

.add-button {
    width: 50%;
}

.todo-body {
    height: 85vh;
    width: 70vw;
    max-width: 600px;
    margin: auto;
}

.task-item {
    margin: auto;
    width: 90%;
    height: 40px;
    background-color: rgb(207, 160, 31);
    border-radius: 5px;

    display: flex;
    align-items: center;

    margin-bottom: 5px;
}

.task-item span {
    margin-left: 10px;
    color: black;
    font-size: larger;
}